#scramble-box {
  margin-top: 30px;
}

.letter-btn {
  padding: 10px 15px;
  margin: 5px;
  font-size: 20px;
  border: none;
  background: #ff99cc;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.letter-btn:disabled {
  background: #ffccd9;
  cursor: default;
}

#answer-box {
  margin-top: 20px;
  font-size: 28px;
  letter-spacing: 10px;
}

.answer-slot {
  display: inline-block;
  width: 30px;
}
